/* Varibles */
:root {
  --dark-color: #333;
  --white-color: #fff;
  --delete-color: #dc0000;
  --font-Acme: "Acme", sans-serif;
}

/* General Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(90deg, #a8dffd 0%, #2491ff 100%);
}

/* ----------------
-------HEADER------
------------------- */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}

.header__heading {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: calc(50 / 16 * 1rem);
  line-height: 2.5;
}

.header__info {
  display: inline-block;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  color: var(--white-color);
  font-size: calc(25 / 16 * 1rem);
}

.header__info:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--white-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.header__info:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__form {
  margin-top: 40px;
}

/* Main - Input, Button */

.todo__input {
  color: var(--dark-color);
  font-size: calc(18 / 16 * 1rem);
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid rgb(236, 236, 236);
  outline: none;
  margin-right: 10px;
}

.todo__button {
    cursor: pointer;
    transition: all .3s ease;
  background: var(--white-color);
  padding: 10px 15px;
  border-radius: 50%;
  border: 2px solid rgb(236, 236, 236);
  outline: none;
}

.todo__button i {
    transition: all .3s ease;
  color: #2285e9;
  font-size: calc(20 / 16 * 1rem);
  pointer-events: none;
}

.todo__button:hover i {
   color: #2286e9ce;
    transform: rotate(45deg);
}
