/* Varibles */
:root {
  --dark-color: #333;
  --white-color: #fff;
  --delete-color: #dd0101;
  --check-color: #4ab516;
  --font-Acme: "Acme", sans-serif;
}

/* General Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

body {
  background-image: linear-gradient(90deg, #a8dffd 0%, #2491ff 100%);
}

li {
  list-style: none;
}

/* ----------------
------POPUP BOX----
------------------- */

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--white-color);
  width: 500px;
  height: 360px;
  z-index: 2;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 2px solid rgb(236, 236, 236);
}

.popup .content h1 {
  font-size: calc(25 / 16 * 1rem);
  text-transform: uppercase;
  color: var(--dark-color);
  padding-bottom: 10px;
  font-weight: 600;
}

.popup .content p {
  font-size: calc(17 / 16 * 1rem);
  color: #757575;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.popup .content .close__button {
  color: var(--white-color);
  padding: 8px 30px;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  background: #389bff;
  font-weight: 500;
  cursor: pointer;
}

.popup .content .close__button:hover {
  background: #208fff;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 0.6s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
/* ----------------
-------HEADER------
------------------- */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}

.header__heading {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: calc(50 / 16 * 1rem);
  line-height: 2.5;
}

.header__info {
  display: inline-block;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  color: var(--white-color);
  font-size: calc(25 / 16 * 1rem);
}

.header__info:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--white-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.header__info:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__form {
  margin-top: 40px;
}

/* Main - Input, Button */

.todo__input {
  color: var(--dark-color);
  font-size: calc(18 / 16 * 1rem);
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid rgb(236, 236, 236);
  outline: none;
  margin-right: 10px;
}

.todo__button {
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--white-color);
  padding: 8px 15px;
  border-radius: 50%;
  border: 2px solid rgb(236, 236, 236);
  outline: none;
}

.todo__button i {
  transition: all 0.3s ease;
  color: #2285e9;
  font-size: calc(25 / 16 * 1rem);
  pointer-events: none;
}

.todo__button:hover i {
  color: #2286e9ce;
  transform: rotate(45deg);
}

/* Todo Div */

.todo__div {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

/* Todo Div - Li */

.todo__item {
  flex: 1;
  margin-right: 50px;
  background: var(--white-color);
  font-size: calc(18 / 16 * 1rem);
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid rgb(236, 236, 236);
  width: 280px;
}

/* Todo Div - button */

.todo__div button {
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--white-color);
  padding: 10px 15px;
  border-radius: 50%;
  border: 2px solid rgb(236, 236, 236);
  outline: none;
}

.todo__div button i {
  transition: all 0.3s ease;
  font-size: calc(18 / 16 * 1rem);
  pointer-events: none;
}

.check__button {
  margin-right: 15px;
  color: var(--check-color);
  transition: all 0.3s ease;
}

.delete__button {
  color: var(--delete-color);
  transition: all 0.3s ease;
}

.delete__button:hover i {
  color: #ff0000;
}

.check__button:hover i {
  color: #26d46c;
}

/* Animation - Delete Todo */
.checked {
  opacity: 0.5;
  text-decoration: line-through;
  transition: all 0.3s ease;
}

/* ----------------------
-------MEDIA QUEEY ------
------------------------- */

@media (max-width: 530px) {
  /* Header */

  .header__heading {
    font-size: calc(35 / 16 * 1rem);
    line-height: 2.5;
  }

  .header__info {
    font-size: calc(20 / 16 * 1rem);
  }

  /* ----------------
------POPUP BOX----
------------------- */

  .popup .content {
    width: 300px;
    height: 430px;
    padding: 30px;
  }

  .popup .content h1 {
    font-size: calc(20 / 16 * 1rem);
    text-transform: uppercase;
    color: var(--dark-color);
    padding-bottom: 10px;
    font-weight: 600;
  }

  .popup .content p {
    font-size: 1rem;
  }

  .popup .content .close__button {
    color: var(--white-color);
    padding: 8px 30px;
    font-size: 0.9rem;
  }

  /* Main - Input, Button */

  .todo__input {
    font-size: 1rem;
    padding: 8px 15px;
    width: 270px;
  }

  .todo__button {
    padding: 8px 14px;
  }

  .todo__button i {
    font-size: calc(20 / 16 * 1rem);
  }
  /* Todo Div */

  .todo__div {
    margin: 15px 0;
  }

  /* Todo Div - Li */

  .todo__item {
    margin-right: 25px;
    font-size: 1rem;
    padding: 8px 15px;
    width: 200px;
  }

  /* Todo Div - button */

  .todo__div button {
    padding: 8px 14px;
  }

  .todo__div button i {
    font-size: calc(17 / 16 * 1rem);
  }

  .check__button {
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  /* Header */

  .header__heading {
    font-size: calc(30 / 16 * 1rem);
    line-height: 2.5;
  }

  .header__info {
    font-size: calc(18 / 16 * 1rem);
  }

  /* Main - Input, Button */

  .todo__input {
    font-size: 1rem;
    padding: 8px 15px;
    width: 230px;
  }

  /* Todo Div - Li */

  .todo__item {
    margin-right: 20px;
    font-size: 1rem;
    padding: 8px 15px;
    width: auto;
  }

  /* Todo Div - button */

  .todo__div button {
    padding: 8px 14px;
  }

  .todo__div button i {
    font-size: 1rem;
  }

  .check__button {
    margin-right: 5px;
  }
}
